Property from file with std-filtering: ${prop_from_file}
Property from pom with std-filtering: ${prop.from.pom}

Property from file with jinja-filtering: {{ prop_from_file }}
Property from pom with jinja-filtering: {{ prop_from_pom }}
